<html>
   <head></head>
   <body>
      <div style="font-family: arial;width: 717px;color:#666;height: 411px;">
         <div style="text-align:center"><img src="http://sfs.gooru.org/media/gooru/images/mail/footerGooru.png"></div >
         <div style="height: 440px; margin-left: 20px;">
            <div style="color: # 666; width: 100%; font-size: 14px; float: left; margin-top: 20px;">
               Hello there!
               <div style="margin-top: 20px;"><b>${username}</b> has invited you to collaborate on the Gooru collection, ${collection-title}! </div>
               <div style="margin-top: 20px;">
                  <div style="background:none repeat scroll 0 0 #0f76bb;border:0 none;color:white;font-size:12px;min-height:32px;width:218px;border-radius:3px 3px 3px 3px;line-height: 31px;text-align:center">
                     <a style="color:#ffffff;text-decoration:none" href="${serverpath}/#mycollections&id=${collection-id}" target="_blank">
                        <div style="font-size:13px;font-family:arial">Click here to start working together</div>
                     </a>
                  </div>
               </div>
               <div style="margin-top: 20px;"><b>Whoa! Slow down there! What exactly is Gooru?</b><br>If you've never heard of Gooru before, allow us to introduce ourselves! Gooru is a community of educators finding, remixing, and sharing the best free resources available on the Internet. Teachers can use Gooru to build personalized collections of digital content for their students. <a style="color: #1076bb;text-decoration:underline;" href="${serverpath}/#discover&callback=signup&type=2&email=${recipient}&rp=mycollections&id=${collection-id}" target="_blank">You can start a free account here!</a></div>
               <div style="margin-top: 20px;"><b>Fantastic! But what does it mean to be a collaborator?</b><br> ${username} has invited you to work together on a collection. Collaborators have permission to edit and add to a collection.</div>
               <div style="margin-top: 15px;">What are you waiting for? Click on the button above to start working together. If you have any questions or issues, please contact us at <a style="color: #1076bb;text-decoration:underline;" href="mailto:support@gooru.org">support@gooru.org.</a></div>
               <div style="margin-top: 15px;">
                  <div>Thanks!</div>
                  <div>The Gooru Team</div>
                  <div> <a style="color: #1076bb;" href="http://www.facebook.com/gooru" target="_blank">Facebook</a> | <a style="color: #1076bb;" href="http://www.twitter.com/gooru" target="_blank">Twitter</a> </div>
               </div>
               <div style = "margin-top: 15px;">If you'd like to stop receiving notifications when someone adds you as a collaborator, please <a style="color: #1076bb;" href="https://docs.google.com/a/gooru.org/forms/d/1hPG5ZKRmarCG1jgfoL-m7gCtTl3GzGs0fnQFJhkWdeA/viewform">click here</a>.</div>
            </div>
         </div>
      </div>
   </body>
</html>