<!DOCTYPE html> 
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   </head>
   <body style="font-family: arial, sans-serif;color: #515151;font-size: 12px; background-color: #f0f0f0;">
      <div id="logo-header" style="width:100px;max-height:30px;margin: 30px auto 10px auto;"><img src="http://sfs.gooru.org/media/mail/v1/images/gooru-logo-small.png" style="margin-top:8px"></div>
      <div class="content-block img-desc" style="width: 500px;padding: 35px;margin: 0px auto 30px auto;background-color: white;border: 1px solid #DDD;-moz-box-shadow: 0 0 10px rgba(0,0,0,.1); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);box-shadow: 0 0 10px rgba(0,0,0,.1);">
      <div style="font-family: arial;width: 717px;color:#666;height: 242px;width:520px;">
         <div style="height: 470px;">
            <div style="color: #666; width: 100%; font-size: 14px; float: left;">
               Hi <b>${username}, </b> 
               <div style="margin-top: 20px;"> The password for your Gooru account has been changed. </div>
               <div style="margin-top: 20px;"> If your Gooru password was changed without your knowledge, then please click the following link below to change it again: </div>
               <div style="margin-top: 20px;"> <a  href="http://nucleus.gooru.org/reset-password?token=${token}&user_id=${user_id}">Click here to reset your password.</a> <b>This link will expire in 24 hours.</b> </div>
               <div style="margin-top: 15px;">
                  <div>If the above link does not work, copy and paste the URL below into your browser bar:</div>
                  <div>http://nucleus.gooru.org/reset-password?token=${token}&user_id=${user_id} </div>
               </div>
               <div style="margin-top: 15px;"> If you have any questions, please email support@gooru.org </div>
               <div style="margin-top: 15px;">
                  <div>Thanks!</div>
                  <div>The Gooru Team</div>
                  <div> <a style="color: #1076bb;" href="http://www.facebook.com/gooru" target="_blank">Facebook</a> | <a style="color: #1076bb;" href="https://twitter.com/gooru" target="_blank">Twitter</a> </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
</html>