<!DOCTYPE html> 
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   </head>
   <body style="font-family: arial, sans-serif;color: #515151;font-size: 12px; background-color: #f0f0f0;">
      <div id="logo-header" style="width:100px;max-height:30px;margin: 30px auto 10px auto;"><img src="http://sfs.gooru.org/media/mail/v1/images/gooru-logo-small.png" style="margin-top:8px"></div>
      <div class="content-block img-desc" style="width: 500px;padding: 35px;margin: 0px auto 30px auto;background-color: white;border: 1px solid #DDD;-moz-box-shadow: 0 0 10px rgba(0,0,0,.1); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);box-shadow: 0 0 10px rgba(0,0,0,.1);">
      <div style="font-family: arial;width: 717px;color:#666;height:550px">
         <div style="width: 520px;">
            <div style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 20px;">
               Hello there! 
               <div style="margin-top: 20px;">
                  <div>We're excited to welcome you to the Gooru community! Now you can get started finding, remixing, and sharing the best free K-12 education resources on the web. To complete your registration, simply click on the link below:</div>
                  <div style="margin-top: 20px;">http://nucleus.gooru.org/confirm-mail?token=${token}</div>
               </div>
               <div style="margin-top: 15px;">If you have any questions or issues, please contact us at support@gooru.org. </div>
               <div style="margin-top: 15px;">
                  <div>Thanks!</div>
                  <div>The Gooru Team</div>
                  <div> <a style="color: #1076bb;" href="http://www.facebook.com/gooru" target="_blank">Facebook</a> | <a style="color: #1076bb;" href="http://www.twitter.com/gooru" target="_blank">Twitter</a> </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>