<html>
   <head></head>
   <body>
      <div style="font-family: arial;width: 717px;color:#666;height: 411px;">
         <div style="text-align:center"><img src="http://sfs.gooru.org/media/gooru/images/mail/footerGooru.png"></div>
         <div style="height: 440px; margin-left: 30px;">
            <div style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 30px;">
               Hello there! 
               <div style="margin-top: 20px;"> Your teacher, ${teachername}, has shared the class:"${title}" with you.Please access the class by clicking the link below or by entering in the Class Code under the My Classes tab. </div>
               <div style="margin-top: 20px;">${shortenUrl}</div>
               <div style="margin-top: 20px;">If you are accessing via iPad, please enter the following class code to join.</div>
               <div style="margin-top: 20px;border:1px solid #ccc;color:#666;width: 75px;padding: 4px;">${classCode}</div>
               <div style="margin-top: 20px;">Sent using Gooru. Visit <a style="color: #1076bb;" href = "http://www.gooru.org" target="blank">www.gooru.org</a> for more great resources and collections. It's free!</div>
            </div>
         </div>
      </div>
   </body>
</html>