<html>
   <body>
      <div style="font-family: arial;width: 717px;color:#666;height:550px">
         <div style="height: 470px; margin-left: 30px;">
            <div style="color: #666; width: 100%; font-size: 14px; float: left; margin-top: 30px;">
               <div style="text-align: center;"><img alt=" src="http://sfs.gooru.org/media/gooru/images/mail/welcome.png" style="width: 502.50px; height: 311.65px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="></div>
               <div style="margin-top: 20px;">
                  Hello there! 
                  <div style="margin-top: 20px;">Thank you for joining us to honor the human right to education. We're so excited to welcome you to the Gooru community! Thousands of educators and learners are using Gooru to create and share free, high-quality learning resources to empower students to become self-directed learners. </div>
                  <div style="margin-top: 20px;">Here are a few ways you can use Gooru for engaging teaching and learning. Check out the <a  href="http://about.gooru.org/educators/get-started">Getting Started Toolkit</a> for more support, or go right to <a  href="http://www.gooru.org">www.gooru.org</a> </div>
                  <div style="margin-top: 20px;">
                     <b>Teachers</b> 
                     <ul style="margin-top: 0;">
                        <li>Organize and customize your content, assign it to students, then monitor progress of individual students and your class as a whole with comprehensive reports.</li>
                        <li>Explore our K-12 community library to find and remix collections of web resources for your class.</li>
                        <li>If you'd like hear from educators on how they are using Gooru in their classroom, <a  href="http://about.gooru.org/events">join one of our educator-led workshops</a>. For more inspiration, check out our <a  href="http://about.gooru.org/educators/stories/">educator stories</a>.</li>
                     </ul>
                  </div>
                  <div style="margin-top: 20px;">
                     <b>Students</b> 
                     <ul style="margin-top: 0;">
                        <li>If your teacher gave you a Gooru Class code, go to <a  href="http://www.gooru.org">www.gooru.org</a> to sign in and enter it under "My Classes."</li>
                        <li>Even if your teacher is not using Gooru in school, you can use it to start exploring your favorite subjects or topics--try "oceans" or "geometry."</li>
                     </ul>
                  </div>
                  <div style="margin-top: 20px;">
                     <b>Parents</b> 
                     <ul style="margin-top: 0;">
                        <li>Gooru can help your children learn the way they learn best both in and out of the classroom. Guide their exploration for school homework, projects, or subjects they love in a safe online environment.</li>
                        <li>Try searching for subjects or topics, or start exploring Gooru's <a href="http://www.gooru.org/#community">libraries</a> at <a  href="http://www.gooru.org">www.gooru.org</a>.</li>
                     </ul>
                  </div>
                  <div>For more information about Gooru and our organization, check out <a  href="http://about.gooru.org">about.gooru.org</a></div>
                  <div style="margin-top: 15px;">
                     <div>Thanks, and happy learning!</div>
                     <div>The Gooru Team</div>
                     <div> <a style="color: #1076bb;" href="http://www.facebook.com/gooru" target="_blank">Facebook</a> | <a style="color: #1076bb;" href="http://www.twitter.com/goorulearning" target="_blank">Twitter</a> </div>
                     <div style="margin-top: 15px;">PS: <br> If you have any questions, feel free to email us at <a style="color: #1076bb;text-decoration:underline;" href="mailto:support@gooru.org">support@gooru.org</a>.</div>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>